.tray {
    height: 168px;
    width: 100%;
    position: fixed;
    background-color: #fafcff;
    bottom: 0;
    overflow-x: scroll;
    text-align: center;
}

.tray ol {
    margin: 0;
    padding: 0;
}
.tray ol::after { 
  content: "";
  display: block; 
  clear: both;
}

.tray li {
    display: inline-block;
    box-sizing: border-box;
    padding: 8px;
}

.thumb {
    background-color: #ededed;
    display: block;
    border: 1px solid #333;
}

.thumb.selected {
    background-color: #16C7A4;
}

.portrait {
    width: 96px;
    height: 128px;
}

.landscape {
    width: 240px;
    height: 128px;
}

#indexVal {
    color: #16C7A4;
}

.submitter {
    width: 100%;
    text-align: center;
    padding-top: 24px;
}